@model RestaurantManagement.Domain.DTOs.BillDtos.BillResponse


<script src="https://cdn.tailwindcss.com"></script>

<div class="min-w-7xl flex flex-col bg-gray-200 space-y-4 p-10">
    <h1 class="text-2xl font-semibold">------------------------------------------------------</h1>
    <h1 class="text-2xl font-semibold text-center">HOÁ ĐƠN</h1>

    <p>Thời gian: @Model.CreatedDate.ToString("dd/MM/yyyy, hh:mm:ss")</p>
    <p>Bàn: @Model.TableId</p>
    <div class="flex justify-between space-x-4">
        @* <div class="bg-gray-100 rounded-lg flex flex-col space-y-1 p-4 w-1/2">
        <p class="font-medium">Seller:</p>
        </div> *@
        @if (@Model.FirstName != null)
        {
            <div class="bg-gray-100 rounded-lg flex flex-col space-y-1 p-4 w-1/2">
                <p class="font-medium">Khách hàng: @Model.FirstName @Model.LastName</p>
                <p class="font-medium">Số điện thoại: @Model.PhoneNumber</p>
                <p class="font-medium">Email: @Model.Email</p>
            </div>
        }

        @if (@Model.BookPrice != null)
        {
            <div class="bg-gray-100 rounded-lg flex flex-col space-y-1 p-4 w-1/2">
                <p class="font-medium">Mã đặt bàn: @Model.BookingId</p>
                
                <p class="font-medium">Giá booking: @Model.BookPrice (Đã trừ 50%)</p>
               
            </div>
        }
    </div>

    <div class="flex flex-col bg-white rounded-lg p-4 space-y-2">
        <h2 class="text-xl font-medium">Món:</h2>
        <div class="">

            <div class="flex space-x-4 font-medium">
                <p class="w-10">#</p>
                <p class="w-52">Tên món</p>
                <p class="w-20">Giá món</p>
                <p class="w-20">Số lượng</p>
                <p class="w-20">Giá</p>
                
            </div>

            @foreach (var item in @Model.OrderDetails)
            {
                <div class="flex space-x-4">
                    <p class="w-10"></p>
                    <p class="w-52">@item.MealName</p>
                    <p class="w-20">@item.MealPrice VNĐ</p>
                    <p class="w-20">@item.Quantity</p>
                    <p class="w-20">@item.UnitPrice VNĐ</p>
                </div>
            }

        </div>
    </div>

    <div class="flex flex-col items-end bg-gray-50 space-y-2 p-4 rounded-lg">
        <p>Thành tiền: <span class="font-semibold">@Model.TotalPrice VNĐ</span></p>
    </div>
    <h3 class="text-m font-semibold text-center">Mê cung vị giác</h3>
    <h5 class="text-s text-center">305 Đ. Lê Văn Sỹ, Phường 1, Tân Bình, Hồ Chí Minh</h5>
</div>